/* Navigation Bar Styling */
.nav-bar {
  padding: 10px;
  border-bottom: 5px solid white;
}

.nav-link{
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  margin: 0 6px 6px;
  background: #BC8F8F;
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px) ;
  color: #2F4F4F;
}

.active {
  color: greenyellow;
}

/* Styles for the header component */
.header {
  position: relative; /* Positioning context for absolute child */
  width: 100%; /* Set the header width to 20% of the viewport width */
  height: 30vh; /* Set header height to full viewport height */
  overflow: hidden; /* Hide any content that overflows the header */
}

/* Style for the image inside the header */
.header img {
  position: absolute; /* Position the image absolutely within the header */
  top: 0;
  left: 0;
  width: 100%; /* Make the image width fill the entire header */
  height: auto; /* Make the image height fill the entire header */
  object-fit: cover; /* Scale the image to cover the entire header */
}